/* globals.css */
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-yantramanav: "Yantramanav", sans-serif;
  --font-public-sans: "Public Sans", sans-serif;
  --font-heebo: "Heebo", sans-serif;

  /* Cores base extraídas da imagem */
  --color-white: #FFFFFF;
  --color-off-white: #F3F2ED;
  --color-gray-dark: #313131;
  --color-gray-medium: #515151;
  --color-gray-light: #707070;
  --color-black: #000000;

  --color-gray-background: #2C2C2C;
  --color-orange: #D97A2B;
  --color-brown-dark: #28241F;
  --color-brown-light: #B07C4A;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[--color-white] text-[--color-gray-dark] font-[--font-heebo];
}